# envファイルのサンプルになります。
process.env.NODE_ENV='development'
VUE_APP_MEMBER_JSON_URL='http://localhost:8080/api/fetchAllMembers'
VUE_APP_LOGIN_JSON_URL='http://localhost:8080/api/fetchLoginInfo'
VUE_APP_WORK_JSON='http://localhost:8080/api/fetchAllWorker'
VUE_APP_VUEGUIDE_URL='https://www.udemy.com/course/vuejs-vuex/'
VUE_APP_GITHUB_URL='https://github.com/KEMPER0530/vue-handson'
VUE_APP_GNAVI_API_KEY='Please get yourself'
VUE_APP_GNAVI_URL='https://api.gnavi.co.jp/RestSearchAPI/v3/'
VUE_APP_GNAVI_PAGE='50'
VUE_APP_CREDIT_REGIST_URL='http://localhost:8080/api/fetchCreditInfoRegist'
VUE_APP_FROM_EMAIL='Please get yourself'
VUE_APP_PERSONAL_NAME='Please get yourself'
VUE_APP_SEND_MAIL='http://localhost:8080/api/fetchSendMailRegist'
VUE_APP_PROFILE_JSON='http://localhost:8080/api/fetchProfileInfo'
VUE_APP_REGIST_ACCOUNT='http://localhost:8080/api/fetchRegistAccount'
VUE_APP_REGIST_ACCOUNT_MAIL='http://localhost:8080/api/fetchRegistAccountMail'
