.DS_Store
node_modules
/dist
/release
.firebase
Counter.vue
Fotter.vue
Height.vue
Member.vue
*.jpeg
*.svg
.circleci/config_local.yml
/src-cordova
.expo
manifest.plist

# local env files
.env.local
.env.*.local
.env.development

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
.env
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cordova
/src-cordova/platforms
/src-cordova/plugins
/public/cordova.js
