.about {
    // width: 200px;
    height: 200px;
    margin: 10px auto 0px;
}

li {
    display: inline-block;
}

.writing {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.list-size {
    max-width: 600px;
}