#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 0px;
}

.mgr-3 {
    margin-right: 3px;
}

.mgl-20 {
    margin-left: 20px;
}


/*bootstrapのカラーをオーバーライドする*/


/* 通常のボタン色 */

.btn-pink,
.btn-pink.disabled,
.btn-pink:disabled {
    color: #fff;
    background-color: #ff7bff;
    border-color: #ff7bff;
}


/* focusされた時の枠線の色 */

.btn-pink:focus,
.btn-pink.focus,
.btn-pink:not(:disabled):not(.disabled):active:focus,
.btn-pink:not(:disabled):not(.disabled).active:focus,
.show>.btn-pink.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(200, 123, 255, 0.5);
}


/* hover時（マウスカーソルを重ねた時）の色（通常より濃いor暗めの色を指定） */

.btn-pink:hover {
    color: #fff;
    background-color: #ff69d9;
    border-color: #ff62cc;
}


/* active時の色（hover時と同等かさらに濃いor暗めの色を指定） */

.btn-pink:not(:disabled):not(.disabled):active,
.btn-pink:not(:disabled):not(.disabled).active,
.show>.btn-pink.dropdown-toggle {
    color: #fff;
    background-color: #ee62cc;
    border-color: #ee5cbf;
}

// .btn-outline-primary {
//     color: #0095d9;
//     background-color: transparent;
//     background-image: none;
//     border-color: #0095d9;
// }
// .btn-outline-primary:hover,
// .btn-outline-primary:not(:disabled):not(.disabled):active,
// .btn-outline-primary:not(:disabled):not(.disabled).active,
// .show>.btn-outline-primary.dropdown-toggle {
//     color: #fff;
//     background-color: #0095d9;
//     border-color: #0095d9;
// }
// .btn-outline-primary:focus,
// .btn-outline-primary.focus,
// .btn-outline-primary:not(:disabled):not(.disabled):active:focus,
// .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
// .show>.btn-outline-primary.dropdown-toggle:focus {
//     box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
// }
// .btn-outline-primary.disabled,
// .btn-outline-primary:disabled {
//     color: #0095d9;
//     background-color: transparent;
// }
.btn-outline-pink {
    color: #ee62cc;
    background-color: transparent;
    background-image: none;
    border-color: #ee5cbf;
}

.btn-outline-pink:hover,
.btn-outline-pink:not(:disabled):not(.disabled):active,
.btn-outline-pink:not(:disabled):not(.disabled).active,
.show>.btn-outline-pink.dropdown-toggle {
    color: #fff;
    background-color: #ee62cc;
    border-color: #ee5cbf;
}

.btn-outline-pink:focus,
.btn-outline-pink.focus,
.btn-outline-pink:not(:disabled):not(.disabled):active:focus,
.btn-outline-pink:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-pink.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 119, 0.5);
}

.btn-outline-pink.disabled,
.btn-outline-pink:disabled {
    color: #ee62cc;
    background-color: transparent;
}

.samurai-blue-sub {
    background-color: #0095d9;
}

.samurai-blue {
    background-color: #202f55;
}

.button-group1 {
    margin: 20px auto;
}