.profile {
    // width: 200px;
    height: 200px;
    margin: 10px auto 0px;
}

li {
    display: inline-block;
}

.writing {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.list-size {
    max-width: 600px;
}

.badge_profile {
    font-size: 25px;
    vertical-align: top;
    top: 0px; //depends on your font-size
    position: relative;
    margin: 0px 10px 10px auto;
}